---
import "../../styles/style.scss";

import BaseHead from "../../components/BaseHead.astro";
import NavBar from "../../components/NavBar.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.date.valueOf() - b.data.date.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title="blog" description="" author="lumi" />
  </head>

  <body>
    <span class="scan-line"></span>

    <NavBar />

    <div class="frame">
      <article>
        <header class="center">
          <h2 transition:animate="slide">~/blog</h2>
        </header>

        <main transition:animate="slide">
          <ul>
            {
              posts.map(post => (
                <li>
                  <time>
                    {post.data.date.toLocaleDateString("zh", {
                      day: "2-digit",
                      month: "2-digit",
                      year: "numeric"
                    })}
                  </time>
                  <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
                </li>
              ))
            }
          </ul>
        </main>
      </article>
    </div>
  </body>
</html>
