---
import "../../styles/frame.scss";

import SimpleHead from "../../components/SimpleHead.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <SimpleHead />

    <style ></style>
  </head>

  <body>
    <h2>about</h2>

    lumi. hello.

  </body>
</html>
