/* colors */
$fg: #fbffff;
$bg: #05081d;
$bgitem: #080d18;
$shade: #110e2c;
$accent1: #90f1fe;
$accent2: #92acff;

/* shadows */
$accent1-shadow-light: 0px 0px 4px #90aafea0;
$accent1-shadow-heavy: 0px 0px 1px $accent1, 0px 0px 10px $accent1;
$accent2-shadow-light: 0px 0px 4px #9294ff80;
$accent2-shadow-heavy: 0px 0px 1px $accent2, 0px 0px 10px $accent2;

/* animations */
$q-move: 160ms ease-in-out;
$q-glow: 240ms ease-in-out;

/* stuff */
$border: 2px solid $fg;

@media (prefers-reduced-motion: reduce) {
  $q-glow: 0;
  $q-move: 0;
}

@font-face {
  font-family: CozetteVector;
  font-style: normal;
  font-weight: 400;
  src: url("/font/CozetteCrossedSevenVector.woff2") format("woff2");
}

@font-face {
  font-family: CozetteVector;
  font-style: normal;
  font-weight: 700;
  src: url("/font/CozetteCrossedSevenVector.woff2") format("woff2");
}

@font-face {
  font-family: "Zelda DX TT BRK";
  font-style: normal;
  font-weight: 400;
  src: url("/font/zelda-dx-tt-brk.woff2") format("woff2");
}

@font-face {
  font-family: "sitelen seli kiwen mono";
  src: url("/font/sitelenselikiwenmonoasuki.ttf") format('truetype');
}

@font-face {
  font-family: "riitnr";
  src: url("/font/riitnr/RiiTN_R.otf") format("opentype");
}

@font-face {
  font-family: "kyokasho";
  src: url("/font/Kyokasho/UDDigiKyokashoN-R-01.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "kyokasho";
  src: url("/font/Kyokasho/UDDigiKyokashoN-B-01.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}