// Colors: Catppuccin
$Foreground: #cdd6f4;
$ForegroundSecondary: #96cdfb;
$Background: #1E1E2E;
$BackgroundSecondary: #181825;
$BackgroundDarker: #101019;
$Accent: #f5c2e7;
$AccentSecondary: #b5e8e0;
$Border: #575268;

@font-face {
  font-family: "SpecialElite";
  src: url("/font/SpecialElite.ttf");
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("/font/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-variant-ligatures: normal;
}

@font-face {
  font-family: "CharterBT";
  src: url("/font/CharterBT.ttf");
  font-style: normal;
}

@font-face {
  font-family: "DigitalGlitch";
  src: url("/font/Digital Glitch Demo.ttf");
  font-style: normal;
}
