// Colors: Catppuccin
$Foreground: #cdd6f4;
$ForegroundSecondary: #96cdfb;
$Background: #1e1e2e;
$BackgroundSecondary: #181825;
$BackgroundDarker: #101019;
$Accent: #f5c2e7;
$AccentSecondary: #b5e8e0;
$Border: #575268;

@font-face {
  font-family: "SpecialElite";
  src: url("/font/SpecialElite.ttf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("/font/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-variant-ligatures: normal;
  font-display: swap;
}

@font-face {
  font-family: "DigitalGlitch";
  src: url("/font/Digital Glitch Demo.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Wonderly;
  src: url("/font/Wonderly.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gaegu";
  src: url("/font/Gaegu-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gaegu";
  src: url("/font/Gaegu-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gaegu";
  src: url("/font/Gaegu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
