@use "./var" as *;

h1,
h2 {
  font-family: inherit;
  line-height: 3rem;
}

* {
  text-align: justify;
}

ul li {
  list-style-type: square;

  ul li {
    list-style-type: none;
  }
}

ol li {
  list-style-type: decimal;

  ol li {
    list-style-type: lower-alpha;
  }
}

.tk,
toki-pona {
  font-family: "sitelen seli kiwen mono" !important;
}

.jp,
t-jp {
  font-family: "kyokasho", !important;
}

.katex-html {
  display: none;
}