@use "./var" as *;

* {
  text-align: justify;
}

ul li {
  list-style-type: square;

  ul li {
    list-style-type: none;
  }
}

ol li {
  list-style-type: decimal;

  ol li {
    list-style-type: lower-alpha;
  }
}

.tk, toki-pona {
  font-family: "sitelen seli kiwen mono";
}

.katex-html {
  display: none;
}
