@use "./var" as *;

html {
  padding: 16px;
  height: calc(100vh - 32px);
}

body {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: $bg;
  color: $fg;
  font-size: 20px;
  font-family: "CozetteVector", "PixelMplus10", monospace;
}

body::before,
body::after {
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
}

body::before {
  background: url("/glitchy-l.gif") repeat-y center left;
  background-size: 64px;
  left: 0;
  filter: blur(10px);
}

body::after {
  background: url("/glitchy-r.gif") repeat-y center right;
  background-size: 64px;
  right: 0;
  filter: blur(10px);
}

p,
em,
li,
dd,
dt,
summary::before {
  text-shadow: $accent1-shadow-light;
}

h1,
h2,
h3 {
  text-shadow: $accent1-shadow-heavy;
  font-family: "Zelda DX TT BRK", serif;
  margin-bottom: 42px;
}

a {
  color: $accent1;
  text-shadow: $accent1-shadow-light;
  transition: $q-glow;
}

a:hover {
  text-shadow: $accent1-shadow-heavy;
  transition: $q-glow;
}

li {
  list-style-type: none;
}

.dashed li::before {
  content: "- ";
}

.symbol {
  font-family: "CozetteVector";
  font-weight: 400 !important;
}

.hbar {
  text-shadow: $accent1-shadow-heavy;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;

  font-family: "CozetteVector", monospace;
  width: 100%;
  color: $accent2;
  background-color: $bg;
  border: 2px solid $shade;
  box-shadow: $accent2-shadow-light;
  transition: $q-glow;
  border-radius: 0;
  resize: none;

  &:hover {
    background-color: $bgitem;
    box-shadow: $accent2-shadow-heavy;
  }

  &::selection {
    background-color: $accent2;
    color: $bgitem;
  }
}

.highlight {
  font-weight: bold;
  text-shadow: $accent1-shadow-heavy;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.spin {
  animation: spin 2s linear infinite;
}

hr {
  border: solid 1px $fg;
  box-shadow: $accent1-shadow-light;
  margin-top: 32px;
  margin-bottom: 32px;
}

/* keyframes */

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

/* queries obsolete */

@media (max-width: 482px) {
  .opt-hide {
    display: none;
    width: 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  body::after,
  body::before {
    display: none;
  }
}
