@import "./variables";

* {
  unicode-bidi: isolate;
  margin: 0;
  padding: 0;

  user-select: none;
}

html,
body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  color: whitesmoke;
  font-family: "FORCED SQUARE", monospace;
}

main {
  text-shadow: 0 0 2px #fff, -2px 0 10px #f6a8b7, 2px 0 10px #5ccefa;
  text-align: center;

  display: flex;
  vertical-align: middle;
  justify-content: flex-start;
  align-items: center;
  align-content: center;

  .spacing {
    padding-right: 15px;
    margin-right: 15px;
  }
}

.container {
  display: flex;
  flex-direction: column;

  h1,
  h2 {
    text-align: center;
    margin-bottom: 5px;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 15px;
  }
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("/bg.webp") center / cover;
  filter: brightness(30%);

  z-index: -1;
}

.noise {
  // pointer-events: none !important;
  z-index: 1 !important;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.35;

  .inner {
    height: 100%;
    width: 100%;
    opacity: 0.4;
    background-image: url("/static.gif");
    background-blend-mode: darken;
  }
}

.avatar {
  border-radius: 40%;
  box-shadow: 0 0 50px #fff, -20px 0 80px #f6a8b7, 20px 0 80px #5ccefa;

  max-width: 144px;
  max-height: 144px;
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;

  a {
    font-size: 1.3rem;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
    text-decoration: none;

    &:hover {
      filter: invert(70%) brightness(150%);
    }
  }
}

footer {
  position: absolute;
  bottom: 8px;
  right: 8px;

  a,
  a:visited,
  a:link,
  a:hover,
  a:active {
    color: $AccentSecondary;
  }
}

@media screen and (max-width: 100vh) {

  main,
  container {
    flex-direction: column;
  }

  .spacing {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .links {
    padding-top: 10px;
    grid-template-columns: 1fr 1fr;

    a {
      font-size: 1.6rem;
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 10px;

      &:nth-child(1),
      &:nth-child(3) {
        text-align: right;
      }

      &:nth-child(2),
      &:nth-child(4) {
        text-align: left;
      }
    }
  }

  footer {
    bottom: 0;
    right: 0;

    font-size: xx-small;
  }
}

@media screen and (min-width: 900px) and (min-width: 100vh) {
  .container {

    h1,
    h2 {
      margin-bottom: 10px;
    }

    h1 {
      font-size: 4em;
    }

    h2 {
      font-size: 30px;
    }
  }

  .links a {
    font-size: 2.6rem;
  }

  .avatar {
    max-width: 268px;
    max-height: 268px;
  }
}
