@use "./var" as *;

/* the digital ibuprofen equivalent */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* crt effect */
html::before {
  content: " ";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.02),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.02)
    );
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

html::after {
  content: " ";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(16, 18, 18, 0.2);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}

.scan-line {
  position: fixed;
  opacity: 0.08;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-bottom: 2px solid #666;
  background: #444;
  animation: scan 2.8s infinite steps(48);
}

/* main page style */
body {
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 100dvh;
  font-size: 20px;
  line-height: 1.1em;
}

.nav-bar {
  padding: 12px;
  min-width: 240px;
  width: 240px;
  height: 100%;
  background-color: $bgitem;
  border-right: $border;
  font-family: "CozetteVector", monospace;
  text-shadow: $accent1-shadow-light;
  color: $fg;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 20px $accent1;
  box-shadow: 0px 0px 64px -28px $fg;
  z-index: 1;
}

a {
  color: $accent1;
  text-shadow: $accent1-shadow-light;
  transition: $q-glow;
  text-decoration: none;

  &:hover {
    text-shadow: $accent1-shadow-heavy;
    transition: $q-glow;
  }
}

nav ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

nav ul li::before {
  content: "├";
  margin-right: 12px;
}

nav ul li:last-child::before {
  content: "└";
  margin-right: 12px;
}

nav a[href^="https://"]
{
  color: $accent2;
  text-shadow: $accent2-shadow-light;

  &:hover {
    text-shadow: $accent2-shadow-heavy;
  }
}

#content-frame {
  height: 100%;
  width: 100%;
  border: none;
}

/* keyframes */

@keyframes flicker {
  0% {
    opacity: 0.26;
  }
  5% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.26;
  }
}

@keyframes scan {
  from {
    top: 0%;
  }
  to {
    top: 100%;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* queries */

@media (max-width: 722px) {
  body {
    flex-direction: column-reverse;
  }

  .nav-bar {
    min-width: unset;
    width: 100%;
    border: 0;
    max-height: 206px;
    overflow-y: scroll;
    border-top: $border;
    overflow-x: hidden;
  }
}

@media (prefers-reduced-motion: reduce) {
  html::after,
  html::before {
    animation: none;
    display: none;
  }

  .scan-line {
    display: none;
    animation: none;
  }
}

@supports not (width: 100dvh) {
  body {
    height: 100vh;
  }
}
