---
import "../styles/style.scss";

import BaseHead from "../components/BaseHead.astro";
import NavBar from "../components/NavBar.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title="about" description="" author="lumi" />
  </head>

  <body>
    <span class="scan-line"></span>

    <NavBar />

    <div class="frame">
      <article>
        <header class="center">
          <h2 transition:animate="slide">~/about</h2>
        </header>

        <main transition:animate="slide">
          <p>a young doll built with obsolete parts, hence connection obsolete as a nickname.</p>
          <p>
            will talk in 3rd perspective with it/its pronouns, or otherwise
            feminine language if truly necessary.
          </p>
          <p>do not question its age, that would be uncomfortable.</p>
          <p>currently interested in learning toki pona and luka pona, and reading discworld.</p>
        </main>
      </article>
    </div>
  </body>
</html>
