---
import "../styles/guide.scss";
import BaseHead from "../components/BaseHead.astro";
import Garbled from "../components/Garbled.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title="On Interacting With lumi"
      description="A guide."
      author="lumi"
    />
  </head>

  <body>
    <main>
      <h1>Subject #<Garbled /></h1>

      <h2>General Info</h2>

      <div class="row">
        <span>Name</span>
        <span>lumi</span>
      </div>

      <div class="row">
        <span>Age</span>
        <span><Garbled length={3} /> yo</span>
      </div>

      <div class="row nosplit">
        <span>Pronouns</span>
        <span>it/its; Avoid, fallback: she/her</span>
      </div>

      <div class="row nosplit">
        <span>Comments</span>
        <span>
          Despite appearing humanoid, lumi is not human, but rather a Canis
          lupus (gray wolf). Additionally, lumi will act like a young child when
          feeling safe.
        </span>
      </div>
    </main>
  </body>
</html>
