---
import "../styles/style.scss";

import BaseHead from "../components/BaseHead.astro";
import NavBar from "../components/NavBar.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title="lumi" description="" author="lumi" />
  </head>

  <body>
    <span class="scan-line"></span>

    <NavBar />

    <div class="frame">
      <article>
        <header class="center">
          <h2 transition:animate="slide">[ lumi ]</h2>

          <span class="hbar">
            <span class="opt-hide">╶ ╶ ╶╶╶╶╶──</span>
            <span class="opt-hide2">─────</span>──┘
            <b class="highlight">૮ ᴖﻌᴖა</b>
            ┌──<span class="opt-hide2">─────</span>
            <span class="opt-hide">──╴╴╴╴╴ ╴ ╴</span>
          </span>
        </header>

        <main transition:animate="slide">
          <p>Name: lumi</p>
          <p>Pronouns: it/its</p>
          <p>Age: Do <span class="highlight">not</span> ask.</p>
        </main>
      </article>
    </div>
  </body>
</html>
