---
const github = "https://github.com/lumikalt";
---

<div class="nav-bar">
  <nav>
    <a href="frame/" target="content">.</a>/

    <ul>
      <li><a href="frame/about" target="content">about</a></li>
      <li><a href="frame/links" target="content">links</a></li>
      <li><a href="frame/changelog" target="content">changelog</a></li>
      <li><a href={github} target="_blank" rel="noreferrer">github</a></li>
    </ul>
  </nav>
</div>
