---
import "../styles/blog.scss";

import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, date, latex = false } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} author={"lumi"} needsLatex={latex} />
  </head>

  <body>
    <Header />
    <main>
      <article>
        <h1 class="title">{title}</h1>
        <time>
          {
            date.toLocaleDateString("en-uk", {
              year: "numeric",
              month: "long",
              day: "numeric"
            })
          }
        </time>

        <hr />
        <div class="content">
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
